@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-dark: #15313D;
  --color-brand-blue: #3CABDA;
  --color-glass-border: rgba(150, 229, 255, 1);
  --color-glass-surface: rgba(244, 253, 255, 1);

  --font-serif: var(--font-merriweather);
  --font-display: var(--font-dm-serif);
  --font-sans: var(--font-inter);
}

:root {
  --background: #C6E9F7;
  --foreground: #15313D;
}

body {
  background: linear-gradient(107.96deg, #BECFEE 0%, #71C6E2 50%, #D9F4FA 75%, #BECFEE 100%);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}